.font1{
    font-family: 'Explora', cursive;
    font-weight: 300;
    
} 
.font2 {
    font-family: 'Padyakke Expanded One', cursive;
    font-weight: 300;
} 
.font3{
    font-family: 'Noto Sans Cherokee', sans-serif;
    font-weight: 300;
}
.font4{
    font-family: 'Noto Serif JP', serif;
    font-weight: 300;
}
.font5{
    font-family: 'Pacifico', cursive;
    font-weight: 400;
}
.font6{
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
}
.font7{
    font-family: 'Sacramento', cursive;
    font-weight: 400;
}
.font8{
    font-family: 'Rubik Vinyl', cursive;
    font-weight: 400;
}
.font9{
    font-family: 'Rubik Gemstones', cursive;
    font-weight: 400;
}
.font10{
    font-family: 'La Belle Aurore', cursive;
    font-weight: 400;
}